*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background: #8f98e4;

    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#formularioInicio{
    background-color: #ffffff;
    width: 350px;
    padding: 30px;

    border-radius: 30px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

h1 {
    color: #1a2a6c;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

label{
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(38, 38, 185);
}
#logoCamaras {
    width: 100px;
    height: auto;
    margin: 0 auto 20px;
    display: block;
}
#mensaje {
    min-height: 40px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 14px;
    transition: all 0.3s ease;
}
.entradaTexto{
    padding: 14px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid rgb(96, 8, 238);
    outline: none;
}
.entradaTexto{
    transition: 0.3s;
}
.entradaTexto:focus{
    border-color: green;
    transform: scale(1.1);
}
#btnIngresar{
    padding:14px;
    border: none;
    background: #8f98e4;
    color: white;
    cursor: pointer;

    transition: 0.3s;
}
#btnIngresar:hover{
    background: #0c21e2;
}
#divMensaje {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #d9534f;
}
.error-estilo {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
}
#cerrarSesion{
    padding:14px;
    position: relative;
    top: 40px;  
    left: auto; 
    border: none;
    background: #864cb1;
    color: white;
    cursor: pointer;

    transition: 0.3s;
}
#cerrarSesion:hover{
    background: #6d2aa0;
}